$bgColor: #f8f8f8;
.content {
  background-color: $bgColor;
  padding-left: 16px;
  max-width: 1120px;
  margin-right: 0;
  padding-bottom: 40px;

  &__main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-top: 0px;

    &-img {
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: 20px;
      width: auto;
      height: auto;
    }

    @media (min-width: 1119px) {
      .content__main {
        padding-top: 50px;
      }
    }

    @media (max-width: 767px) {
      .content__main-img {
        margin-left: 0;
        margin-right: 16px;
        max-width: 320px;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        margin-left: -16px;
      }
    }

    @media (min-width: 1120px) {
      .content__main-img {
        width: 532px;
        height: auto;
      }
    }
    @media (max-width: 1119px) {
      .content__main-img {
        width: 360px;
        height: auto;
        margin-right: 20px;
        margin-left: auto;
      }
    }

    @media (min-width: 767px) {
      .content__main-img {
        padding-left: 15px;
      }
    }
    @media (max-width: 400px) {
      .content__main-img {
        margin-left: -20px;
      }
    }

    .content__main-text {
      margin: 0;
      padding: 0;
      margin-right: 0;
      &-p2,
      &-p {
        padding: 0;
        font-size: 14px;
        line-height: 18px;
      }

      @media (min-width: 1119px) {
        .content__main-text {
          margin-left: 24px;
        }
      }

      @media (max-width: 767px) {
        .content__main-text {
          padding-bottom: 10px;
        }
      }

      @media (max-width: 1119px) {
        .content__main-text-count {
          display: none;
        }
      }

      @media (max-width: 767px) {
        .content__main-text-p2 {
          display: none;
        }
      }
      .content__main-text-icon {
        font-family: 'TTLakesMedium';
        font-size: 16px;
        margin-left: 14px;
      }
      .content__main-text-btn {
        position: relative;
        font-family: 'TTLakesMedium';
        font-weight: 200;
        text-decoration: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 1;
      }
      .content__main-text-btn:hover {
        background-color: rgb(233, 230, 224);
        border-radius: 10%;
      }
    }
  }
}

@media (max-width: 767px) {
  .content__main {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .content__main-text,
  .content__main-text_p,
  .content__main,
  .content__main-img,
  .navigation {
    max-width: 320px;
  }
}

.content__main-text-count-show {
  display: none;
}

.content__main-text-btn-img--transfrom {
  transform: rotate(180deg);
}
